services:
    jekyll:
        image: jekyll/jekyll:latest
        command: jekyll serve --livereload --watch --force_polling --verbose --trace
        # command: jekyll serve --livereload --watch --force_polling --verbose --drafts --trace
        # command: bundle exec jekyll serve --watch --host 0.0.0.0
        ports:
            - 4000:4000
            - 35729:35729
        volumes:
            - .:/srv/jekyll
