---
layout: default
---
<div class="container">
<section class="hero">
  <div class="hero-body has-text-centered">
    <figure class="image is-64x64 is-inline-block">
      <img src="/assets/logo_no_bg_no_name.png" alt="{{site.title}}">
    </figure>
    <h5 class="title is-2 has-text-weight-light">{{ site.title | upcase }}</h5>
    <p class="subtitle">{{site.description}}</p>
  </div>
</section>

<section class="section is-flex is-flex-wrap-wrap is-justify-content-space-between">
  {% for post in paginator.posts %}
  {% if post.redirect_to %}
    {% continue %}
  {% endif %}
  <div class="card post mb-5" style="background-image: url({{ post.image | relative_url }}); background-size: cover; background-position: center;">
    <a href="{{ post.url | relative_url }}">
      <div style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)); height: 100%; border-radius:.25rem">
        <div class="card-image">
          <figure class="image is-2by1"></figure>
        </div>
        <div class="card-content">
          <h3 class="title is-4 has-text-white">{{ post.title }}</h3>
          <p class="subtitle is-6 has-text-white">{{ post.date | date: "%B %-d, %Y" }}</p>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

<section class="section">

  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-previous" href="{{ paginator.previous_page_path }}">Precedente</a>
  {% else %}
    <a class="pagination-previous is-disabled">Precedente</a>
  {% endif %}

  {% if paginator.next_page %}
    <a class="pagination-next" href="{{ paginator.next_page_path }}">Successiva</a>
  {% else %}
    <a class="pagination-next is-disabled">Successiva</a>
  {% endif %}

  <ul class="pagination-list">
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li>
          <a class="pagination-link is-current" aria-label="Page {{ page }}" aria-current="page">{{ page }}</a>
        </li>
      {% elsif page == 1 %}
        <li>
          <a class="pagination-link" href="{{ paginator.previous_page_path }}" aria-label="Goto page 1">1</a>
        </li>
      {% else %}
        <li>
          <a class="pagination-link" href="{{ site.paginate_path | replace: ':num', page }}" aria-label="Goto page {{ page }}">{{ page }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  </nav>

</section>

</div>
