---
layout: default
---
<div class="container">
<section class="section">
  <p class="subtitle is-5 has-text-centered">{{ page.date | date: "%-d %B %Y" }}</p>
  <h1 class="title is-1 has-text-centered">{{page.title}}</h1>
  <p class="subtitle is-5 has-text-centered has-text-grey">{{ page.excerpt }}</p>

  <div class="columns">
    <div class="column is-8 is-offset-2">
      <figure class="image">
        <img src="{{ page.image | relative_url }}" alt="{{ page.title }}">
      </figure>
      <div class="content has-text-justified">
        {{ content }}
      </div>
    </div>
  </div>
</section>
</div>
