---
layout: default
---
<div class="container">
<section class="section">

  <div class="columns">
    <div class="column is-8 is-offset-2">

  <p class="subtitle is-6">{{ page.date | date: "%-d %B %Y" }}</p>
  <h1 class="title is-2 has-text-weight-light">{{page.title}}</h1>
  <p class="subtitle is-5 has-text-grey">{{ page.excerpt }}</p>

      <figure class="image block">
        <img src="{{ page.image | relative_url }}" alt="{{ page.title }}">
      </figure>
      <div class="content has-text-justified">
        {{ content }}
      </div>

      <h2 class="title is-3 has-text-centered mt-6">Ultime notizie</h2>
      <div class="columns">
        {% assign posts = site.posts | where: "layout", "post" | where_exp: "post", "post.url != page.url" %}
        {% for post in posts | limit: 3 %}
        <div class="column is-4">
          <div class="card post mb-5" style="background-image: url({{ post.image | relative_url }}); background-size: cover; background-position: center; height: 100%">
            <a href="{{ post.url | relative_url }}">
              <div style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)); height: 100%; border-radius:.25rem">
                <div class="card-content" style="padding-top: 8rem;">
                  <h3 class="title is-6 has-text-white">{{ post.title }}</h3>
                </div>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>


    </div>
  </div>


</section>
</div>
